{% extends 'base.html' %}
{% block content %}
<div class="min-h-screen flex items-center justify-center bg-gray-950 text-gray-100 py-12 px-4">
  <div class="max-w-2xl w-full space-y-8 bg-gray-900 p-10 rounded-xl shadow-xl border border-gray-800">
    <h2 class="text-3xl font-bold mb-4">Change Password</h2>
    <form method="POST" class="space-y-6">
      {% csrf_token %}
      {{ form.as_p }}
      <button type="submit"
        class="px-6 py-2 bg-rose-600 hover:bg-rose-700 text-white rounded-lg font-semibold transition">
        Change Password
      </button>
    </form>
  </div>
    <script>
  if (performance.getEntriesByType("navigation")[0]?.type === "back_forward") {
    window.location.href = "{% url 'storefront_home' %}";
  }
</script>
</div>
{% endblock %}
